---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/photoanass.jpeg'
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Actuellement étudiant et passionné en développement web, je suis à la recherche active d'une opportunite d'alternance d'une a deux annees dans le 
		domaine de l'informatique. Cette expérience me permettrait d'approfondir mes compétences techniques et d'acquérir une précieuse expérience pratique 
		dans un environnement professionnel.
	</p>

	<p>
		Mon parcours académique et mes projets personnels mont permis de développer une solide maitrise des technologies fondamentales du web. 
		Je suis compétent en HTML, CSS, et de bonne bases en JavaScript, les piliers du développement front-end moderne. De plus, je me forme à 
		l'utilisation de REACT, me permettant de créer des applications web interactives, performantes et adaptatives.
	</p>

	<p>
		En complément de mes compétences en développement, j'ai également cultivé des aptitudes en design et en expérience utilisateur. 
		Je suis à l'aise avec des outils de conception tels que Figma pour le prototypage rapide, ainsi qu'avec la suite Adobe pour la création graphique. 
		Cette double compétence me permet d'aborder les projets avec une vision globale, alliant fonctionnalité et esthétique pour créer des interfaces 
		utilisateur intuitives et attrayantes.
	</p>

	<p>
		Ma curiosité naturelle et ma soif d'apprendre sont des atouts que je souhaite mettre à profit dans le cadre d'une alternance. 
		Je suis constamment à l'affüt des dernières tendances et innovations dans le domaine du développement web, et je m'efforce d'intégrer 
		ces connaissances dans mes projets. Je suis également familier avec les méthodologies de développement agile, ce qui me permettra de m'intégrer 
		efficacement dans des équipes de projet dynamiques.
	</p>

	<p>
		Motivé, rigoureux et doté d'un bon esprit d'équipe, je suis prêt à relever de nouveaux défis et à contribuer activement au sein d'une entreprise 
		innovante. Je suis convaincu qu'une alternance d'une à deux années dans le domaine de l'informatique me permettra non seulement de consolider mes acquis, 
		mais aussi d'explorer de nouveaux aspects du développement web et de l'informatique en général.
	</p>
	<p>
		Je suis enthousiaste à l'idée de mettre mes compétences au service d'une équipe de développement, tout en continuant à apprendre et à évoluer 
		dans ce domaine passionnant. Mon objectif est de devenir un professionnel polyvalent et performant, capable de relever les défis technologiques de demain
	</p>
</Layout>
