---
import { SITE_TITLE } from '../consts';
import "../styles/global.css";
---
<header class="flex items-center justify-between" style="background-color: var(--gray);">
	
	<a href="/" class="flex items-center">
	  <img src="/src/assets/anaslogosite.svg" alt="Logo du site" class="monlogo" />
	</a>
	
	<nav>
	  <ul> 
		<li>
		  <a href="/">
			Accueil
		  </a>
		</li>
		<li>
		  <a href="/about">
			À propos
		  </a>
		</li>
		<li>
		  <a href="/blog">
			Mes projets
		  </a>
		</li>
	  </ul>
	</nav>
  </header>

